.Snippet {
  code {
    max-height: 650px;
    line-height: 1.4em;
  }
}

.Snippet-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}


.Snippet-output {
  border: 1px solid #fff;
  margin: 18px;
}