@import "../common";

.App {
  @include disable-selection;
  @include position(absolute, 0px null null 0px);
  @include size(100% 100%);
  font-family: Asap, Arial, sans-serif;
  background-color: $color-background;
  color: $color-text;
}

.App-header {
  font-weight: 300;
  margin: .25em 0 .5em 0;
}
