@import "../common";

.Player {
  position: absolute;
  @include size(100% 100%);
}

.Player-current {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.5rem;
  color: $color-text-darker;
  padding: 4px;
}