@import "../common";

.Slide {
  @include position(absolute, 50% null null 50%);
  @include size(1024px 768px);
  overflow: hidden;
//  border: 1px solid crimson;

  h1 {
    font-size: 2rem;
    width: 100%;
  }
}

.Slide-outer {
  @include position(absolute, 50% null null 50%);
  transform: translate(-50%, -50%);
  @include size(100% auto);
  text-align: center;
}

.Slide-content {
  @include size(auto auto);
  display: inline-block;
  text-align: left;
}