/* Layout
----------------------------------------------- */

.lt_align-center {
  text-align: center;
}

.toolbar {
  opacity: 0;
}


/* ---------------- Head ---------------- */

.lt_head {

}


/* ---------------- Body ---------------- */

.l-main-container {
  height: $content-height;
  margin-top: $space-s;
}

.lt_content {
  height: $content-height - 2;  // 2px for the top+bottom borders
}

.lt_timeline_pane {
  height: 100%;
}

.lt_vis_pane {
  position: relative;
  height: 100%;
}


#content-container {
  margin-bottom: 6px;  // for Imprint
}

.lt_imprint {
  @include position(absolute, 0 $space-l $space-s 0);
}



.headline {
  position: absolute;
  text-align: center; width: 100%;
  margin-top: 5px;
  color: $nzz-dark-grey;
  display: inline-block;
  font-size: $font-xl;
  font-weight: bold;
}



/* ---------------- Footer ---------------- */

.lt_footer {
  background: #F9F9F9;
  border-top: 1px solid $nzz-light-grey;
  padding: $space-x $space-m $space-s;
}



/* ---------------- Fallback ---------------- */

#unsupported-browser-block {
  background: $nzz-white;
  color: $nzz-black;
  display: block;
  font-size: $font-l;
  line-height: $line-m;
  padding: $space-l;

  strong {
    font-weight: normal;
  }
}

.fallback-image-container {
  margin-top: $space-s;
  padding: $space-s 0px;
  text-align: center;
}

#fallback-image {
  width: 80%;
  margin-left: 10%;
}

