.chart-view {
  a.active {
    color: $nzz-black;
  }
  .chart-toggle {
    margin: 40px 4px 20px;
    span {
      color: #ececeb;
      display: inline-block;
      margin: 0 5px;
    }
  }
  svg {
    width: 550px;
    height: 240px;
    text {
      font-size: 11px;
    }
  }
}
