.tooltip.tooltip--chart {
  padding: $space-s;


  .table {
    margin-top: $space-s;
  }

  .table:first-child {
    margin-top: 0;
  }
  
  .table-body-row:first-child {
    border-top: none;
  }

  .table-body-cell {
    color: $nzz-black;
    &.label {
      font-weight: bold;
      padding-right: $space-m;
    }
    &.value {
      text-align: right;
    }
  }
}
