.legend {
  border-bottom: 1px solid $nzz-light-grey;
  padding: 9px 0 12px 0;
}

.supplements-legend {
  width: $events-container-width;
  @include position(absolute, 0px 0 0 $mini-timeline-width + 30);
  white-space: nowrap;
  background-color: $nzz-white;
  .color-legend__item {
    width: 119px;
  }
}

.color-legend__item__icon {
  color: $nzz-mid-grey;
  font-size: 11px;
}

.color-legend {
  font-size: $font-xs;
  float: right;
}

.color-legend__row {
}

.color-legend__item {
  display: inline-block;
  line-height: 16px;
  margin-left: $space-m;
  text-align: left;
  width: 90px;
  white-space: nowrap;
}

.color-legend__item__colorbox {
  @include size(8px 8px);
  border-radius: 1px;
  display: inline-block;

  @each $p in $powers-colors {
    $name: nth($p, 1);
    $color: nth($p, 2);
    $colony-color: nth($p, 4);
    .item--#{$name} & {
      background-color: $color;
    }
    .item--#{$name}-colonies & {
      background-color: $colony-color;
    }
  }

  .item--frontlines & {
    background-color: #E8B449;
  }
}

.color-legend__item__name {
  color: $nzz-mid-grey;
  display: inline-block;
  margin-left: 5px;
}
