.event-list-item {
  @include transition(background-color 0.25s 0s);
  border-top: 1px solid $nzz-light-grey;
  cursor: pointer;
  width: $events-container-width;
  &.is-selected {
    @include transition(background-color 0s 0s);
    border-top: 1px solid $nzz-dark-grey;
    background-color: $nzz-white;
  }
  &.is-highlighted {
    background-color: #f0f0f0;
  }
}

.event-list-item__header {
  .supplement-icon {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    display: none;
  }
}

.event-list-item__date {
  color: $nzz-label-grey;
  padding: $space-s $space-m 0 $space-s;
  .event-list-item.is-selected & {
    border-right: 1px solid $nzz-dark-grey;
  }
}

.event-list-item__title {
  padding: $space-x $space-s $space-s $space-s;
  .event-list-item.is-selected & {
    font-weight: bold;
  }
  .event-list-item.is-selected & {
    height: 35px;
    padding-bottom: 0px;
  }
  .event-list-item.is-selected & {
    border-right: 1px solid $nzz-dark-grey;
  }
}


.event-list-item__close {
  @include transition(color 0.5s 0s);
  margin: $space-s;
  color: $nzz-mid-grey;
  float: right;
  font-size: $font-s;
  .event-list-item__header:hover & {
    color: $nzz-black;
  }
  cursor: pointer;
}


