.event-detail {
  background-color: $nzz-white;
  position: relative;
  height: $event-detail-height;
  cursor: default;
}

.event-detail__author {
  padding: $space-x $space-s $space-s $space-s;
}
.event-detail__author__name {
  font-weight: bold;
  margin-bottom: 2px;
}
.event-detail__author__desc {
}

.event-detail__left-pane {
  padding: $space-m $space-s $space-s $space-s;
}

.event-detail__full_text {
  @include force-scrollbars;
  width: $events-container-width - 15px;
  height: 245px;
  overflow-x: hidden;
  overflow-y: auto;
}

.event-detail__extras {
  @include position(absolute, 0px 0 0 $events-container-width);
  background-color: $nzz-white;
  border-top: 1px solid $nzz-mid-grey;
  height: $event-detail-height;
  width: $event-detail-extras-width;
  margin-left: -1px;
  z-index: 2;
}

.event-detail__extras__scrollable_content {
  @include force-scrollbars;
  margin: $space-m 0 $space-m $space-m;
  overflow-x: hidden;
  overflow-y: auto;
  height: $event-detail-height - $space-m*2;
}

.event-detail__photo {
  padding: $space-m 0 $space-m $space-m;
}

.event-detail__nav {
  @include transition(color 0.5s 0s);
  position: absolute;
  left: -30px;
  cursor: pointer;
  font-size: $font-xs;
  color: $nzz-mid-grey;
  padding: $space-m 10px;

  &:hover {
    color: $nzz-black;
  }

  &.event-detail__prev {
    top: -60px;
    padding-top: 30px;
    padding-bottom: 120px;
    .event-list-item.is-first & {
      color: $nzz-light-grey;
    }
  }
  &.event-detail__next {
    top: $event-detail-height - 250;
    padding-top: 120px;
    padding-bottom: 30px;
    .event-list-item.is-last & {
      color: $nzz-light-grey;
    }
  }
}
