$event-detail-photo-height: 280px;
$event-detail-photo-width: 526px;
$event-detail-photo-original-height: 450px;
$event-detail-photo-original-width: 600px;

@include keyframes(Ken-Burns-In) {
  0% {
    @include transform(
      scale(0.88)
      translateX(0)
    );
  }
  20% {
    @include transform(
      scale(0.88)
      translateX(0)
    );
  }
  80% {
    @include transform(
      scale(1.0)
      translateX(-35px)
    );
  }
  100% {
    @include transform(
      scale(1.0)
      translateX(-35px)
    );
  }
}

@include keyframes(Ken-Burns-Out) {
  0% {
    @include transform(
      scale(1.0)
      translateX(-35px)
    );
  }
  20% {
    @include transform(
      scale(1.0)
      translateX(-35px)
    );
  }
  80% {
    @include transform(
      scale(0.88)
      translateX(0)
    );
  }
  100% {
    @include transform(
      scale(0.88)
      translateX(0)
    );
  }
}
@include keyframes(Ken-Burns-Up-Down) {
  0% {
    @include transform(
      scale(1.0)
      translateY(-170px)
      translateX(-35px)
    );
  }
  20% {
    @include transform(
      scale(1.0)
      translateY(-170px)
      translateX(-35px)
    );
  }
  50% {
    @include transform(
      scale(0.88)
      translateY(-65px)
      translateX(0)
    );
  }
  70% {
    @include transform(
      scale(0.88)
      translateY(-65px)
      translateX(0)
    );
  }
  100% {
    @include transform(
      scale(1.0)
      translateY(-170px)
      translateX(-35px)
    );
  }
}
@include keyframes(Ken-Burns-Down-Up) {
  0% {
    @include transform(
      scale(1.0)
      translateY(0)
      translateX(-35px)
    );
  }
  20% {
    @include transform(
      scale(1.0)
      translateY(0)
      translateX(-35px)
    );
  }
  50% {
    @include transform(
      scale(0.88)
      translateY(-120px)
      translateX(0)
    );
  }
  70% {
    @include transform(
      scale(0.88)
      translateY(-120px)
      translateX(0)
    );
  }
  100% {
    @include transform(
      scale(1.0)
      translateY(0)
      translateX(-35px)
    );
  }
}

@mixin ken-burns-none ($top: 0) {
  top: $top;
  width: 100%;
  @include animation(none);
  @include transition(none);
}
@mixin ken-burns-in ($top: 0) {
  top: $top;
  @include animation-duration(6s);
  @include animation-name(Ken-Burns-In);
}
@mixin ken-burns-out ($top: 0) {
  top: $top;
  @include animation-duration(6s);
  @include animation-name(Ken-Burns-Out);
}
@mixin ken-burns-up-down () {
  @include animation-duration(12s);
  @include animation-fill-mode(both);
  @include animation-timing-function(ease-in-out);
  @include animation-iteration-count(1);
  @include transform-origin(left bottom);
  @include transition(all 4s ease-in-out);
  @include animation-name(Ken-Burns-Up-Down);
}
@mixin ken-burns-down-up () {
  @include animation-duration(12s);
  @include animation-fill-mode(both);
  @include animation-timing-function(ease-in-out);
  @include animation-iteration-count(1);
  @include transform-origin(left top);
  @include transition(all 4s ease-in-out);
  @include animation-name(Ken-Burns-Down-Up);
}

.event-detail__photo__figure {
  height: $event-detail-photo-height;
  margin-bottom: $space-x;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: relative;
    @include ken-burns-down-up();

    &.photo__01---franz-ferdinand-am-tag-der-ermordung{
      @include ken-burns-out(-10px);
    }
    &.photo__02---kaiser_wilhelm2_blankovollmacht{
      @include ken-burns-in(-80px);
    }
    &.photo__04---mobilmachungsbefehl{
      @include ken-burns-none(-56px);
    }
    &.photo__07---tsingtao{
      @include ken-burns-up-down();
    }
    &.photo__10---Wilhelm_II_in_Konstantinopel{
      @include ken-burns-out(-40px);
    }
    &.photo__11---Russen-passieren-Kaparten{
      @include ken-burns-out(-110px);
    }
    &.photo__12---london-zeppelin-1915{
      @include ken-burns-out(-110px);
    }
    &.photo__14---British_55th_Division_gas_casualties_10_April_1918{
      @include ken-burns-out(-10px);
    }
    &.photo__15---london-vertrag-WWIMap-5{
      @include ken-burns-in(-50px);
    }
    &.photo__16---Untergang_der_Lusitania{
      @include ken-burns-out(-60px);
    }
    &.photo__17---Russland_Bauern_auf_der_Flucht{
      @include ken-burns-out(-60px);
    }
    &.photo__18---Namibia-1914-1915_Westenfeld{
      @include ken-burns-out(-110px);
    }
    &.photo__21---Schlacht_von_Somme-1916{
      @include ken-burns-up-down();
    }
    &.photo__22---Rumaeninen_erobert{
      @include ken-burns-out(-40px);
    }
    &.photo__23---Italien_im_Krieg-1916{
      @include ken-burns-up-down();
    }
    &.photo__25---Steckruebenwinter{
      @include ken-burns-out(-110px);
    }
    &.photo__26---Reichskanzler-Hollweg{
      @include ken-burns-in(-20px);
    }
    &.photo__30---Papst-Benedikt_XV{
      @include ken-burns-out(0px);
    }
    &.photo__33---wilson{
      @include ken-burns-out(0px);
    }
    &.photo__34---Brest-Litowsk{
      @include ken-burns-out(-40px);
    }
    &.photo__36--Gegenoffensive-kriegsgefangene{
      @include ken-burns-up-down();
    }
    &.photo__38---Waffenstillstand-Compiegne{
      @include ken-burns-out(-80px);
    }
    &.photo__39---Versailler_Vertrag{
      @include ken-burns-out(-40px);
    }
    &.photo__propaganda_neu {
      @include ken-burns-none(0);
    }
  }
}

.event-detail__photo__caption {
  color: $nzz-mid-grey;
  display: inline;
  font-size: $font-xs;
}

.event-detail__photo__credits {
  color: $nzz-mid-grey;
  display: inline;
  font-size: $font-xs;
  margin-left: 3px;
  font-style: italic;
}
