
.imprint-scrollable-sources {
  @include force-scrollbars;
  height: 400px;
  overflow-y: scroll;
}

.imprint-row {
  margin-bottom: 15px;
}

.imprint-h2 {
  font-weight: bold;
  margin-right: 5px;
}

.imprint-h {
  font-size: 16px;
  font-weight: bold;
  margin: 40px 0 $space-m 0;
}