$mini-timeline__events-container-width: 20px;
$mini-timeline__year-ticks-container-width: 26px;

.mini-timeline {
  @include position(relative);
  @include size($mini-timeline-width 100%);
}

.mini-timeline__event {
  @include transition(opacity 0.5s 0s);
  @include position(absolute);
  background-color: $nzz-black;
  opacity: 0.15;
  width: 100%;
  &.is-selected {
    opacity: 0.7;
  }
  &.is-highlighted {
    opacity: 0.8;
  }
}

.mini-timeline__events-container {
  @include position(absolute, 0px 0 0 $mini-timeline__year-ticks-container-width);
  @include size($mini-timeline__events-container-width 100%);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.mini-timeline__year-tick {
  @include position(absolute, 0 0 0 0px);
  border-top: 1px solid $nzz-black;
  color: 1px solid $nzz-black;
  font-size: $font-xs;
//  &:first-child {
//    border-top: none;
//  }
}

.mini-timeline__visible-extent {
  @include position(absolute, 0 0 0 0px);
  width: $mini-timeline-input-width;
  background-color: rgba(0, 0, 0, 0.05);
//  width: $mini-timeline__events-container-width + $mini-timeline__year-ticks-container-width * 2;
}

.mini-timeline__input {
  @include position(absolute);
  @include size($mini-timeline-input-width 100%);
  cursor: ns-resize;
}

.mini-timeline__current-date-marker {
  @include transition(top, 0.25s 0);
  @include position(absolute, 0 2px 0 0);
  margin-top: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 6px 3px 0;
  border-color: $transparent #000000 $transparent $transparent;
}