.root-component {
//  border-top: 1px solid $nzz-dark-grey;
//  border-bottom: 1px solid $nzz-dark-grey;
}

.l-main-container {
  border-top: 1px solid $nzz-dark-grey;
  border-bottom: 1px solid $nzz-dark-grey;
}

.root-component__toolbar {
  @include position(absolute, 25px 0 0 30px);
  .button-start {
    width: 70px;
  }
  .button-group {
    .button:first-child {
      padding-left: 6px;
      padding-right: 6px;
    }
    .button:last-child {
      border-left: 1px solid #ddd;
      padding-right: 6px;
    }

  }

  .button-icon {
    @include position(relative, 1px 0 0 0);
    font-size: 13px;
  }
}
