.supplement-icon {

  font-size: 11px;
  line-height: 20px;
  @include position(relative, 0px 0 0 0);
  @each $p in $powers-colors {
    $name: nth($p, 1);
    $color: nth($p, 2);
    &.power--#{$name} {
      color: $color;
    }
  }

  &.power--both {
    color: $nzz-mid-grey;
  }

}