@import "bourbon";

$color-background: #021727;
$color-text: #fff;
$color-text-darker: #999;

@mixin disable-selection {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
